$app-auth__header__height: 52px;

.app-auth__header {
  position: fixed;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  justify-content: start;
  z-index: 30;

  & &__logo {
    grid-area: app-auth__header__logo;
    height: 36px;
    margin-right: 12px;
  }

  & &__title {
    grid-area: app-auth__header__title;
    margin: 0;
    font-size: 28px;
    line-height: 36px;
  }

  &-space {
    height: $app-auth__header__height;
  }
}

@media screen and (max-width: 600px) {
  .app-auth__header {
    display: none;

    &-space {
      display: none;
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .app-auth__header {
    grid-template-columns: auto auto;
    grid-template-areas: 'app-auth__header__logo app-auth__header__title';
  }
}

@media screen and (min-width: 993px) {
  .app-auth__header {
    grid-template-columns: auto auto;
    grid-template-areas: 'app-auth__header__logo app-auth__header__title';
  }
}
